/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* # Our Style */
*{
    box-sizing: border-box;
    line-height: 1.5;
}
body{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.header{
    background-color: #0b75c6;
    height: 80px;
    line-height: 80px;
}
.link{
    float: right;
}
.link a{
    color: #aeaeae;
    text-decoration: none;
    margin-left: 15px;
    font-size: 13px;
}
.brand{
    float: left;
}
.brand a{
    color: #d3d8de;
    text-decoration: none;
    font-weight: 600;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}
.section1{
    background-color: #0b75c6;
    text-align: center;
    font-size: 16px;
    color: #d7d1d1;
    padding: 100px 0;
}
.section1 h1{
    font-size: 48px; 
}
.section1 p{
    font-size: 14px;
    color: #aeaeae;
    font-weight: 500;
}
.artical{
    float: left;
    width: 27.3%;
    margin: 3%;
}

/* General Elements */
.artical-text, p{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 0;
    color: rgb(166, 164, 164);
}
.artical-heading, h2{
    font-size: 20px;
    color: #357db5;
    font-weight: bold;
}
.More-btn{
    background-color: #357db5;
    color: #fff;
    text-decoration: none;
    padding: 7px 10px;
    font-weight: 600;
    display: inline-block;
}
.padding{
    padding: 60px 0;
}




.section3{
    background-color: #0b75c6;
    text-align: center;
}
.heading{
    font-size: 36px;
    color: #fff;
    font-weight: 100;
}

.image{
    float: left;
    width: 21%;
    border: 1px solid #82a5d1;
    margin: 3% 2%;
}
.image img{
    width: 220px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    padding: 40px 30px; 
}
h3{
    color: #fff;
    text-align: center;
    font-size: 24px;
}
.image p{
    font-size: 18px;
    text-align: center;
    padding: 0 0;
    margin-bottom: 10px;
}


.section4 h2{
    font-size: 30px;
    text-align: center;
}
.para{
    text-align: center;
}
.location{
    width: 46%;
    float: left;
    margin: 2%;
}
.location img{
    width: 100%;
    height: 160px;
    object-fit: cover;
    margin: 20px 0;
}


small{
    color: #bebbbb;
    font-size: 13px;
}
.footer{
    padding: 30px 0;
    border-top: 1px solid #777777;
    margin-top: 40px;
}
.footer nav{
    float: right;
}
.footer a{
    color: #357db5;
    margin-left: 20px;
    text-decoration: none;
}

.clearfix::before, .clearfix::after{
    content: "";
    display: table;
}
.clearfix::after{
    clear: both;
}
